{% extends "base.html" %}

{% block content %}
    {% for weather in weather_data %}
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-50x50">
                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png">
                </figure>
            </div>
            <div class="media-content">
            <div class="content">
                <p>
                    <span class="title is-4">{{ weather.city }}</span>
                    <br>
                    <span class="subtitle is-5">{{ weather.temperature }}° C</span>
                    <br>
                    <span class="has-text-grey">{{ weather.description }}</span>
                    <br>
                </p>
            </div>
                <div class="time-wrapper">
                <span class="time-label">Местное время:</span>
                <span class="city-time" data-offset="{{ weather.offset }}"></span>
            </div>
        </div>
        </article>
    </div>
    {% endfor %}

    <script>
        function updateClocks() {
            const clocks = document.querySelectorAll('.city-time');

            clocks.forEach(clock => {
                const offset = parseInt(clock.getAttribute('data-offset'));

                const now = new Date();
                const utc = now.getTime() + (now.getTimezoneOffset() * 60000);

                const cityTime = new Date(utc + (offset * 1000));

                const hours = String(cityTime.getHours()).padStart(2, '0');
                const minutes = String(cityTime.getMinutes()).padStart(2, '0');
                const seconds = String(cityTime.getSeconds()).padStart(2, '0');

                clock.textContent = `${hours}:${minutes}:${seconds}`;
            });
        }
        setInterval(updateClocks, 1000);
        updateClocks();
    </script>
{% endblock %}